<nz-alert nzType="success" nzMessage="Tên tệp tin"></nz-alert>
<nz-table #filterTable [nzData]="displayData" [nzLoading]="loading" nzSize="small">
  <!-- <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="name"> <b class="text-color">Tên tệp tin</b> </th>
    </tr>
  </thead> -->
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        <span class="d-inline-block text-truncate" style="max-width: 250px" nz-tooltip nzTitle="{{ displayData }}">
          {{ displayData }}
        </span>
      </td>
      
    </tr>
  </tbody>
</nz-table>
