<div nz-row></div>
<br />
<nz-table #nzTable nzSize="small" [nzData]="users">
  <thead>
    <tr>
      <th nzShowSort nzSortKey="name">Name</th>
      <th nzShowSort nzSortKey="username">User Name</th>
      <th>User status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.name }}</td>

      <td>{{ data.username }}</td>
      <td>
        <div *ngIf="data.is_lock == true">Khóa</div>
        <div *ngIf="data.is_lock != true">Không khóa</div>
      </td>
      <td>
        <div *ngIf="data.is_lock == true">
          <a (click)="unlockUser(data.username)">Mở khóa</a>
        </div>
        <div *ngIf="data.is_lock != true">
          <a (click)="lockUser(data.username)">Khóa</a>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
