.text-blue {
  color: blue;
}

.highlightText {
  background: yellow;
}
.ngx-text-highlight {
  background: yellow;
}
.highlight {
  background: yellow;
}
.autocenter {
  //margin: auto;
  display: block;
  margin: 0 auto;

  text-align: center;
  //display: inline-block;
}
