<nz-alert nzType="info" nzMessage="Context Base"></nz-alert>
<nz-table #filterTable [nzData]="displayData" [nzLoading]="loading" nzSize="small">
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        {{ data.name }}
      </td>
    </tr>
  </tbody>
</nz-table>
<br />
<nz-alert nzType="info" nzMessage="Context Diff"></nz-alert>
<nz-table #diffTable [nzData]="displayData" [nzLoading]="loading" nzSize="small">
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>
        {{ data.name }}
      </td>
    </tr>
  </tbody>
</nz-table>
