<nz-alert nzType="info" nzMessage="Context Base"></nz-alert>
<nz-table
  #filterTable
  [nzData]="displayData1"
  [nzPageSize]="displayData1.length"
  [nzLoading]="loading"
  nzSize="small"
  [nzScroll]="{ y: '240px' }"
>
  <tbody>
    <tr *ngFor="let temp of filterTable.data">
      <td [ngStyle]="{ 'background-color': shouldHighlight(temp.id) ? '#f2f2f2' : '' }">
        <div>
          <a (click)="triggerScrollTo(temp.id)"
            ><span>{{ temp.data }}.</span></a
          >
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<br />
<nz-alert nzType="info" nzMessage="Context Diff"></nz-alert>
<nz-table
  #diffTable
  [nzData]="displayData2"
  [nzPageSize]="displayData2.length"
  [nzLoading]="loading"
  nzSize="small"
  [nzScroll]="{ y: '240px' }"
>
  <tbody>
    <tr *ngFor="let temp of diffTable.data">
      <td>
        <span
          class="changeText"
          [ngClass]="[shouldHighlight2(temp.id) ? 'highlight' : '']"
          id="{{ temp.id }}"
          #{{temp.id}}
        >
          {{ temp.data }}.</span
        >
      </td>
    </tr>
  </tbody>
</nz-table>
