<div class="container">
  <div class="center-button">
    <div class="center">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        id="1"
        (onFileDrop)="droppedFile($event)"
        dropZoneClassName="my-zone-style"
        contentClassName="my-content-style"
        accept=".doc,.docx,.pptx,.txt"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr>
              <td *ngIf="FileToUpload">
                <strong>{{ FileToUpload.name }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
