<nz-alert nzType="error" nzMessage="Tên tệp tin trùng"></nz-alert>

<nz-table #filterTable [nzData]="displayData" [nzLoading]="loading" nzSize="small" nzBordered>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td (click)="sendMessage(data.name)">
        <span class="d-inline-block text-truncate" style="max-width: 190px" nz-tooltip nzTitle="{{ data.name }}">
          {{ data.name }}
        </span>
      </td>
      <td>
        <div *ngIf="data.ratio == 0">{{ data.ratio }} %</div>
        <div *ngIf="data.ratio != 0">
          <nz-badge [nzCount]="data.ratio">{{ data.ratio }}</nz-badge>
          %
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
