.ant-layout {
  width: 100%;
  //min-height: 750px;
  height: auto;
  min-height: 100%;

  background-color: #f0f2f5;
}
.ant-layout-content {
  // min-height: 700px;
}
.layoutoutside {
  //background-color: #f0f2f5;
}
.ant-layout-sider {
  //background: #f0f2f5;
}
.ant-layout-header {
}
